body{
    background: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1, p, div{
    background: #ccc;
    padding: 10px;
    width: 500px;
}
a{ 
/* Los elementos tipo linea no pueden tener un width o un height, se pueden */
    background:#000;
    color: #fff;
    padding: 10px;
    display: block flex;

}