*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    background: #ccc;
    align-items:space-between;
    display: flex;
}

.container {
    width: 400px;
    padding: 20px;
}

.caja { 
    padding: 20px 10px;
    text-align: center;
    margin: 10px 0;
    background: #000;
    font-size: 24px;
    color:#fff;
}

.naranja {
    background: #f9a03f;
}

