*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 80%;
    max-width: 700px;
    /* height: 500px; */
    background: #212D40;
    /* esta propiedad lo volvera flex */
    display:flex;


    flex-direction: row-reverse;
    /* el valor por defecto de flex-directon es :row pero tambien se puede en :colum y colum-reverse */
    flex-wrap:wrap;

    /* flex-flow:row wrap; */

    justify-content: space-between;

    /* align-items: center; */

    align-content: center;

    
}


.caja {
width: 100px;
background: #f79256;
height:100px;
text-align: center;
margin: 20px;
font-size: 40px;
color: #fff;
/* order:1.1; */
flex-grow:1;
flex-shrink:0;

flex: 1 1 auto;
}
/*  el flex: 1 1 auto; es configutacion por defecto donde crecen y cambian proporcionalmente y el tamaño es automatico.


.dos {
    flex-shrink:1;
    width: 200px;
    flex-grow: 2;

} */