body{
    background:#ffff;
    color: #ffff;
}

header{
    background: #9aca40;
    padding: 20px;
    margin-bottom: 20px;
}
.sub-contenedor-main{
    margin-bottom: 20px;
}

main{
    background: #fff;
    color:#424242;
    padding: 20px 0;
}

aside{
    background-color: #dee5e8;
    padding: 60px 0;
    color:#4d47a1;
}
.weidgets{
    background: #fff;
    color: #424242;
    margin-bottom: 20px;
}

.weidgets > div{
    background: #2196f3;
    color: #fff;
    padding: 20px;
}
footer{
    background: #1e1e1e;
    padding: 20px 0;
}