*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: 'Quicksand';
    font-size: 18;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width: 400px;
    margin: 40px;
}
.formu .inputcontainer{
    padding: 20px;
    background: #fff;
    border-radius:6px 6px 0 0;
}
.formu .nombreycorreo{
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0 ;
}
.formu input[type="text"],
.formu input[type="email"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border:none;
    border-bottom: 2px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.formu input[type="text"]:focus,
.formu input[type="email"]:focus{
    border-bottom: 2px solid #23ae43 ;
}
.formu input[type="radio"]{
    display: none;
}
.formu .sexo {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formu .label-radio.women{
    margin:0 10px;
    border-radius: 3px;
    
}
.formu .label-radio.men{
    margin:0 10px;
    border-radius: 3px;
}
.formu .label-radio {
    background: rgba(249,160,64,0.4);
    color:#fff;
    padding: 10px;
    text-align: center;
    width: 50%;
}
.formu input[type="radio"]:checked + .label-radio{
    background: #f9a03f;
}
.formu .terms{
    text-align: center;
    color:#424242;
}

.formu .error{
    display: none;
    margin-top:20px;
    background: #ce1818;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
}
.formu .btn{
    width: 100%;
    text-align: center;
    background: #246eb9;
    color:#fff;
    border:none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-size: 18px;
    font-family:'Quicksand';
}